<div class="center">
<h2>Purchases History</h2>
</div>
<br>
<table class="table table-striped table-border">
  <thead>
    <tr>
      <th>Image</th>
      <th>Item</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Date Purchased</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
         <td><%= image_tag order.product.image.url(:thumb) %></td>
        <td><%= order.product.name %></td>
        <td><%= number_to_currency(order.product.price, :unit =>"€") %></td>
     
        <td><%= order.seller.name %></td>
        <td><%= order.created_at.strftime("%Y %b %e") %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<%= link_to 'New Product', new_product_path, class: "btn btn-link" %>-->
